
  .MovieDetails {
    border-radius: 5px;
    background-color: #222222;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin: 15px;
  }

  #imgDetail {
      text-align: center;
  }

  #descriptionDetail {
      text-align: left;
  }

  #listGenreDetail {
      text-align: left;
  }

  .titleDetail{
      text-align: center;
  }

  #genreDetail{
      text-align: left;
  }

  #returnDetail {
      float: right;
  }